{% extends 'product/base.html' %}

{% block title %}Thêm / Sửa sản phẩm{% endblock %}
{% block content %}
<div class="container mt-4">
     <h2 class="mb-4">📝 Thông tin sản phẩm</h2>

     <form method="post" enctype="multipart/form-data" class="card p-4 shadow-sm border-0 bg-light">
          {% csrf_token %}

          <div class="mb-3">
               <label for="{{ form.name.id_for_label }}" class="form-label">📌 Tên sản phẩm</label>
               {{ form.name }}
          </div>

          <div class="mb-3">
               <label for="{{ form.price.id_for_label }}" class="form-label">💰 Giá bán</label>
               {{ form.price }}
          </div>

          <div class="mb-3">
               <label for="{{ form.description.id_for_label }}" class="form-label">📝 Mô tả</label>
               {{ form.description }}
          </div>

          <div class="mb-3">
               <label for="{{ form.category.id_for_label }}" class="form-label">📂 Danh mục</label>
               {{ form.category }}
          </div>

          <div class="mb-3">
               <label for="{{ form.image.id_for_label }}" class="form-label">🖼️ Hình ảnh</label>
               {{ form.image }}
          </div>

          <button type="submit" class="btn btn-success w-100">💾 Lưu sản phẩm</button>
     </form>
</div>
{% endblock %}